*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

::before,
::after {
  --tw-content: '';
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
}

body {
  font-size: 13px;
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
/* resete de css do tailwind */
:root{
    --cor-blue: #5ac9e5;
    --cor-purple: #593293;
    --cor-gray: #b1aebf;
}
.mobile{
  display: none;
}
.container{
  padding-left: 200px;
  padding-right: 200px;

}
header{
  padding: 30px 0;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--cor-gray);
}
header .menu-desk{
  gap: 50px;
  align-items: center;
}
header .menu-desk a{
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
header  a:hover{
  color: var(--cor-purple);
}
header .menu-desk img{
  margin-top: -10px;
}
header .login{
  display: flex;
  gap: 50px;
  align-items: center;
}
header .login .flex{
  gap: 10px;
  
}

header .login .flex p{
  color: var(--cor-purple);
}

header .login .register{
  color:#4772b8;
  border: 1px solid var(--cor-gray);
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 1;
}

main{
  max-width: 100vw;
  overflow: hidden;
}
.flex{
  display: flex;
}
.relative{
  position: relative;
}
.hidden{
  display: none;
}
section{
  padding: 50px 0;
}

.linha-reta{
    display: inline-block;
    width: 150px;
    height: 15px;
    background: linear-gradient(to right, var(--cor-purple) 30%, var(--cor-blue) 0);
    
}

#block-1{
  margin-left: 100px;
}
#block-1 .flex{
  justify-content: space-between;
}
#block-1 .content{
  max-width: 30%;
  padding-left: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#block-1 img{
  width: 60%;
}
#block-1 .content h1{
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: var(--cor-purple);
}
p{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--cor-gray);
}
.btn {
  width: max-content;
  padding: 15px 40px;
  background: linear-gradient(20deg, rgba(2,0,36,1) 0%, #5c69b1 4%, #5dcae5 69%);
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  border-radius: 10px;
}
#block-1 .linha-reta{
  position: absolute;
  margin-top: 50px;
  left: 41.2%;
  transform: translateX(-50%);
}

#block-2.container {
  padding-left: 250px;
  padding-right: 250px;
}

#block-2 h1{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--cor-purple);
}
#block-2 .grid{
  display: grid;
  padding: 50px 0 ;
  grid-template-columns: repeat(4,1fr);
  gap: 100px;
}
#block-2 img{
  width: 100%;
}
#block-2 .text{
  padding: 0 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

#block-2 h2{
  font-size: 2.2rem;
  color: var(--cor-purple);
  font-weight: 600;
}

#block-3 img{
  min-width: 50%;
}
#block-3 .content{
  width: 40%;
  padding-right:50px;
}
#block-3 .content .linha-reta{
  margin: 150px 0;
}
#block-3 .text p{
  font-size: 1.8rem;
}

#block-3 .text p:nth-child(2){
  margin: 50px 0 70px 0;
  font-weight: 400;
}

#block-3 .text button{
  font-size: 1.8rem;
  color: #4772b8;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center; 
  gap: 10px;
}
#block-3 .text button span{
  font-size: 1.4rem;
}

#block-4 .content{
  margin-top: 200px;
  width: 60%;
  padding: 0 0 0  250px;
}


#block-4 .content h1{
  font-size: 2.5rem;
  color: var(--cor-purple);
  font-weight: 700;
  max-width: 350px;
  margin: 100px 0 150px ;
}


#block-4 .content p{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 100px;
}

#block-4 .content p .relative a{
  color: var(--cor-purple);
}

#block-4 .content p .relative .linha-reta {
  position: absolute;
  width: 66px;
  height: 7px;
  top:40px;
  left: 0;
}
#block-4 img{
  position: absolute;
  right: 0;
  width: 45%;
  top: -500px;
}
#block-4 .content a:last-child{
  font-size: 1.8rem;
  color: #4772b8;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center; 
  gap: 10px;
}
#block-4 .content a:last-child span{
  font-size: 1.4rem;
}

#block-5{
  height: 1000px;
}

#block-5 img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


#block-5 .content{
  position: absolute;
  right: 10%;
  top: 30%;
}

#block-5 .content .linha-reta{
  background: linear-gradient(to right, #e2deef 30%, #fff 0);
}

#block-5 .content h1{
  font-size: 2.5rem;
  color: var(--cor-purple);
  font-weight: 700;
  max-width: 700px;
  margin: 50px 0 ;
}

#block-5 .content p span{
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
#block-5 .content .download{
  display: flex;
  align-items: center;
  gap: 50px;
}
#block-5 .content .download a{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  background-color: black;
  border-radius: 10px;
}
#block-5 .content .download a .android{
  rotate: 45deg;
  height: 50px;
  width: 60px;
  margin-top:-20px;
}
#block-5 .content .download a .ios{
  height: 50px;
  width: 50px;
}

#block-6 .content{
  display: flex;
  gap: 204px;
  justify-content: center;
}

#block-6 .content .flex{
  gap: 170px;
  align-items: center;
}
#block-6 .content .flex img{
  height: 100%
}

#block-6 .content .flex p{
    font-size: 2.8rem;
    color: var(--cor-purple);
    max-width: 350px;
}
#block-6 .content .linha-reta{
  margin-top: 50px;
}

footer.container{
  background-image: url(../images/fundo-footer-teste-programador.png.jpg);
  background-size: 100% 100%;
  padding: 0 250px ;
}
footer .container-footer{
  display: flex;
  border-bottom: 2px solid var(--cor-gray) ;
  padding: 100px 0;
}
footer .container-footer .col-1{
  width: 50%;
}
footer .container-footer .col-1 > img{
  width: 200px;
  margin: -10px 0 29px;
}

footer .container-footer .flex{
  width: 50%;
  justify-content: space-between;
}
footer .container-footer .col-1 .flex-icon{
  display: flex;
  gap: 10px;
}

footer .container-footer .col-1 .flex-icon p{
  transition: all 200ms ease-in-out; 
  cursor: pointer;
}
footer .container-footer .col-1 .flex-icon p:hover{
  color: #fff;
}

footer .container-footer .col-1 .flex-icon img{
  width: 30px;
}
footer .container-footer .flex p {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 30px;
}
footer .container-footer .flex li{
  font-size: 1.3rem;
  color: var(--cor-gray);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
footer .container-footer .flex li:hover{
  color:#fff;
}

footer .footer{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

footer .icons{
  display: flex;
  gap: 20px;
}



@media (max-width:1536px){
  .container {
    padding-left: 100px;
    padding-right: 100px;
}

p {
  font-size: 1rem;
}

#block-1 .content h1 {
  font-size: 3.5rem;
  max-width: 70%;
}
#block-1 .content {
  max-width: 37%;
  padding-left: 0;
}
#block-1 .content p{
  font-size: 1rem;
}
#block-1 img {
  width: 55%;
}
#block-2.container {
  padding-left: 150px;
  padding-right: 150px;
}
#block-2 .grid {
  gap: 50px;
}
#block-3 .content {
  width: 50%;
  padding-right: 0px;
}
#block-3 img {
  min-width: 0px;
  max-width: 40%;
}
#block-3 .text p {
  font-size: 1.3rem;
}
#block-3 .content .linha-reta {
  margin: 40px 0;
}

#block-4 img {
  width: 40%;
  top: -250px;
}
#block-4 .content {
    margin-top: 160px;
    width: 70%;
    padding: 0 0 0  150px;
}
#block-4 .content h1 {
  margin: 50px 0 100px;
}
#block-4 .content p {
  font-size: 1.8rem;
  margin-bottom: 50px;
}
#block-4 .content p .relative .linha-reta {
  width: 45px;
  top: 29px;
}
#block-4 .content a:last-child {
  font-size: 1.3rem;
}

#block-5 {
  height: 667px;
}

#block-5 .content {
  position: absolute;
  right: 150px;
  top: 30%;
}

#block-5 .content h1 {
  font-size: 2.0rem;
  max-width: 550px;
}
#block-5 .content .download {
  gap: 20px;
}
#block-6{
 padding-left: 150px;
 padding-right: 150px;
}

#block-6 .content {
  gap: 100px;
}
#block-6 .content .flex {
  gap: 97px;
}


#block-6 .content .flex p {
  font-size: 2.2rem;
  max-width: 300px;
}

footer.container {
  padding: 0 150px;
}

footer .container-footer .col-1 {
  width: 45%;
}
footer .container-footer .flex {
  width: 55%;
}
}
@media (max-width:1281px){
  .container {
    padding-left: 50px;
    padding-right: 50px;
}
#block-1 {
  margin-left: 50px;
}
#block-1 .content {
  gap: 25px;
}
#block-1 .content h1 {
  font-size: 3rem;
}
#block-1 .content p {
  font-size: 1.05rem;
}


  #block-2.container {
    padding-left: 50px;
    padding-right: 50px;
}

  #block-4 .content p {
    font-size: 1.7rem;
}

#block-4 .content h1 {
  margin: 25px 0 50px;
}

#block-4 .content p .relative .linha-reta {
  width: 53px;
  top: 33px;
}#block-4 .content h1 {
    margin: 25px 0 50px;
}
#block-2 h2 {
  font-size: 1.4rem;
}

#block-4 .content {
  margin-top: 50px;
  padding: 0 0 0 50px;
}

#block-5 .content {
  position: absolute;
  right: 50px;
  top: 24%;
}
#block-6 {
  padding-left: 50px;
  padding-right: 50px;
}
footer.container {
  padding: 0 50px;
}
}
@media (max-width:1025px){
  header {
    padding: 0;
   
}
 .desk{
  display: none;
 }
 .mobile{
  display: block;
  width: 100%;
  position: relative;
 }
 .mobile .flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 }
 .mobile .menu{
  background-color: white;
  top: -100vh;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 50px 0;
  position: absolute;
  transition: all 500ms ease-in-out;
 }
 .mobile .menu.active{
  top: 0;
 }
 .mobile .menu .login img {
  width: 20px;
}
.mobile .menu .login > a {
  display: flex;
  gap: 10px;
} 
header .login .register {
  border-radius: 10px;
}
 .close{
  position: absolute;
  top: 20px;
  right: 40px;
 }
 .mobile .flex img{
  width: 100px;
 }

  #block-1 .content {
    gap: 15px;
}

#block-1 .content h1 {
  font-size: 2rem;
  max-width: 70%;
}
  #block-2 img {
    width: 60%;
    margin: 0 auto;
}
#block-2 .text {
  max-width: 30%;
  margin: 0 auto;
}
#block-3 .flex {
 justify-content: space-between;
 padding-right: 50px;
}
#block-3 .text p {
  font-size: 0.9rem;
}
#block-3 .text p:nth-child(2) {
  margin: 20px 0 40px 0;
}
#block-3 .text button {
  font-size: 1.4rem;
}
#block-4 .content {
  margin-top: 40px;
}
#block-4 .content h1 {
  margin: 20px 0 30px;
  font-size: 2.0rem;
  max-width: 295px;
}

#block-4 .content p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}
#block-4 .content p .relative .linha-reta {
  width: 38px;
  top: 24px;
}
#block-4 img {
  top: -120px;
}
#block-5 {
  height: 550px;
}
#block-5 .content {
  position: absolute;
  right: 50px;
  top: 20%;
}


#block-5 .content h1 {
  font-size: 1.45rem;
  max-width: 400px;
  margin: 20px 0;
}

#block-5 .content p span {
  font-size: 1rem;
}
#block-5 .content .download a .android {
  rotate: 45deg;
 height: auto;
  width: 45px;
  margin-top: -10px;
}
#block-6 .content .flex p {
  font-size: 1.4rem;
}
#block-6 .content .flex img {
  height: 72px;
}
#block-6 .content .flex {
  gap: 50px;
}
}
@media (max-width:450px){
  section {
    padding: 20px 0;
}
.linha-reta {
  width: 100px;
  height: 10px;
}
  .container {
    padding-left: 10px;
    padding-right: 10px;
}
  #block-1 {
    margin-left: 10px;
}
  #block-1 .content {
    max-width: 50%;
    padding-left: 0;
}

.btn {
  padding: 9px 24px;
  font-size: 1.1rem;
}
  #block-1 .content h1 {
    font-size: 1.6rem;
    max-width: 80%;
}
#block-1 .content p {
  font-size: 0.8rem;
}
#block-2 h1 {
  font-size: 1.4rem;
  margin-top: 50px;
}
#block-2 img {
  width: 100%;
}
#block-2 .text {
  max-width: 80%;
  gap: 10px;
}
#block-3 .flex {
  padding-right: 10px;
}
#block-3 .text p {
  font-size: 0.8rem;
}
#block-3 .content .linha-reta {
  margin: 15px 0;
}
#block-3 .text p:nth-child(2) {
  margin: 10px 0 15px 0;
}
#block-3 .text button {
  font-size: 1rem;
}
#block-4 img {
  top: -55px;
}
#block-4 .content {
  margin-top: 30px;
  padding: 0 0 0 10px;
}
#block-4 .content h1 {
  margin: 10px 0 15px;
  font-size: 1.3rem;
  max-width: 170px;
}
#block-4 .content p {
  font-size: 0.7rem;
}
#block-4 .content p .relative .linha-reta {
  width: 23px;
  top: 15px;
  height: 2px;
}
#block-4 .content a:last-child {
  font-size: 1rem;
}
#block-4 .content a:last-child span {
  font-size: 1rem;
}
#block-5 {
  height: 200px;
}
#block-5 .content {
  position: absolute;
  right: 10px;
  top: 20%;
}
#block-5 .content h1 {
  font-size: 0.7rem;
  max-width: 196px;
  margin: 5px 0px;
}
#block-5 .content .download {
  display: flex;
  align-items: center;
  gap: 5px;
}
#block-5 .content .download a {
  gap: 0px;
  padding: 3px 7px;
}
#block-5 .content .download a .android {
  width: 20px;
}
#block-5 .content .download a .ios {
  height: auto;
  width: 20px;
}
#block-5 .content .download p {
  font-size: 0.6rem;
}
#block-5 .content .download p span {
  font-size: 0.7rem;
}
#block-6 {
  padding-left: 10px;
  padding-right: 10px;
}
#block-6 .content {
  gap: 20px;
}
#block-6 .content .flex {
  gap: 20px;
}
#block-6 .content .flex p {
  font-size: 0.8rem;
}
#block-6 .content .flex img {
  height: 38.38px;
}
footer .container-footer {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--cor-gray);
  padding: 100px 0;
}
footer.container {
  padding: 0 10px;
}
footer .container-footer {
  padding: 50px 0;
}
footer .container-footer .col-1 {
  width: 62%;
}
footer .container-footer .col-1 > img {
  width: 200px;
  margin: 0 0 10px;
}
footer .container-footer .col-1 .flex-icon p {
 font-size: 0.8rem;
}
footer .container-footer .col-1 .flex-icon img {
  width: 20px;
}
footer .container-footer .flex {
  width: 100%;
  gap: 20px;
}
footer .container-footer .flex p {
  font-size: 1rem;
  margin-bottom: 10px;
}
footer .container-footer .flex li {
  font-size: 0.8rem;
}
footer .icons {
  gap: 10px;
}
p {
  font-size: 0.8rem;
}
}




